<?xml version="1.0"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433 을 방문하십시오.
  -->
<configuration>
  <appSettings>
    <add key="CS_MES" value="Data Source=DEV_PH;User Id=m80apuser;Password=m80apuser"/>
    <!--<add key="MES_TNS" value="(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.10.90.152)(PORT = 2010))) (CONNECT_DATA = (SERVICE_NAME = DPMESA2)))"/>-->
    <!--<add key="MES_TNS" value="(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.10.90.151)(PORT = 2015))) (CONNECT_DATA = (SERVICE_NAME = TSTMDJ)))"/>-->
    <add key="MES_TNS" value="(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.10.90.151)(PORT = 2005))) (CONNECT_DATA = (SERVICE_NAME = DPMESA1)))"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>