<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="OCT_WEIGHT.Manager.dbconnect">
                <endpoint address="" binding="wsHttpBinding" contract="OCT_WEIGHT.Manager.Idbconnect">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/OCT_WEIGHT.Manager/dbconnect/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <basicHttpBinding>
              <binding name="DBServiceSoap" maxReceivedMessageSize="2147483647">
                <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                          maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />                
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.10.65.102/NEW_WEIGHT/DBService.asmx"
                binding="basicHttpBinding" bindingConfiguration="DBServiceSoap"
                contract="WebReference.DBServiceSoap" name="DBServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
